.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

p{
    font-size: 40px;
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    font-family: Tahoma;
    display: inline-block;
    white-space: nowrap;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s, cursor 0.3s;
    cursor: pointer;
}

p:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}

p:last-child {
    position: absolute;
    bottom: 10px;
    right: 10px;
}