.block-views .item-list ul li {
    background: url(https://student.uit.edu.vn/sites/all/themes/uitpb_daa/images/list-style.png) no-repeat 0 4px;
    list-style: none;
    padding-left: 12px;
}

.item-list ul li {
    margin: 0 0 5px 0;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}

.views-row {
    clear: both;
    margin-bottom: 1em;
}

li {
    line-height: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.item-list ul {
    margin: 5px;
    list-style: none;
}

body {
    background: #E5ECF4;
    font-size: 14px;
    font-family: sans-serif,Arial,Helvetica;
    -webkit-text-size-adjust: 100%;
    
}

div {
    display: block;
}

#content-body .block-views{
    background: none repeat scroll 0 0 #fdfdfd;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px 10px;
}

.block .more-link {
    float: right;
    padding-right: 10px;
}

.more-link{
    display: inline-block;
    clear: both;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 600;
    font-size: 12px;
    font-family: sans-serif,Arial,Helvetica;
}

.marker {
    color: #f00;
}

.clearfix {
    display: table;
    line-height: 0;
    content: "";
}

.more-link a{
    content: " »";
}